<html data-ng-app="app">
<head>
	<title>Access Token Tester</title><!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-resource.min.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.min.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script type="text/javascript">
        var app = angular.module('app', ['ngResource', 'ngRoute']);
        app.controller('accessTokenCtrl', function ($scope, $http) {
            $scope.getAccessToken = function () {
                $http({
                    method: "post",
                    url: $scope.tokenUrl,
                    headers: { 'Content-Type': 'application/x-www-form-urlencoded' },
                    data: $.param({
                        grant_type: 'password',
                        username: $scope.username,
                        password: $scope.password,
                        appId: $scope.appId
                    })
                })
                .then(function(data) {
                    $scope.accessToken = data.data.access_token;
                }, function(data) {
                    $scope.accessToken = 'Error: <br/>' + JSON.stringify(data);
                });
            }
            $scope.reset = function() {
                $scope.tokenUrl = 'http://localhost:8402/token';
                $scope.username = '';
                $scope.password = '';
                $scope.appId = 1;
                $scope.protectedUrl = 'http://localhost:9999/api/v1/token';
                $scope.response = '';
            }
            $scope.getProtectedResource = function () {
                $scope.response = 'Loading...';
                $http({
                    method: "get",
                    url: $scope.protectedUrl,
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded',
                        'Accept': 'application/json',
                        'Authorization': 'Bearer ' + $scope.accessToken
                    }
                }).then(function (data) {
                    $scope.response = JSON.stringify(data);
                }, function (data) {
                    $scope.response = 'Error: <br/>' + JSON.stringify(data);
                });
            }
            $scope.reset();
        });
    </script>
</head>
<body>
    <div class="container" data-ng-controller="accessTokenCtrl">
        <div class="row form-inline">
            <div class="form-group">
                <input type="url" placeholder="Authorization Token URL" class="form-control" data-ng-model="tokenUrl" />
            </div>
        </div>
        <div class="row form-inline">
            <div class="form-group">
                <input type="text" placeholder="Username" class="form-control" data-ng-model="username" />
                <input type="password" placeholder="Password" class="form-control" data-ng-model="password" />
                <input type="text" placeholder="App Id" class="form-control" data-ng-model="appId" />
            </div>
            <div class="form-group">
                <button class="btn btn-default" data-ng-click="getAccessToken()">Get Token</button>
                <button class="btn btn-danger" data-ng-click="reset">Reset</button>
            </div>
        </div>
        <div class="row form-inline" data-ng-show="accessToken">
            <div class="form-group">
                <input type="text" disabled="disabled" size="100" placeholder="Access Token" class="form-control" data-ng-model="accessToken" />
            </div>
        </div>
        <div class="row form-inline" data-ng-show="accessToken">
            <div class="form-group">
                <input type="text" placeholder="Protected URL" size="50" class="form-control" data-ng-model="protectedUrl" />
                <button class="btn btn-default" data-ng-click="getProtectedResource()">GET</button>
            </div>
        </div>
        <div class="row" data-ng-show="response">
            <pre class="jumbotron">{{ response }}</pre>
        </pre>
    </div>
</body>
</html>
